 .background-container {
     background-image: url(../../public/assets/img/imgs-de-la-marca/agua-divisor.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: bottom;
     object-position: bottom;
     height: 550px;
 }

 .texto {
     justify-content: center center;
     object-position: center center;
 }

 .background-container-video1 video{
     top: 0;
     left: 0;
     width: 100%;
     object-fit: cover;
     object-position: center;
     z-index: -1;
 }

 .background-container-video2 video{
    top: 0;
    left: 0;
    width: 106.5%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}