 .background-container {
     background-image: url(../../public/assets/img/imgs-de-la-marca/agua-divisor.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: bottom;
     object-position: bottom;
     height: 550px;
 }

 .texto{
    justify-content: center center;
    object-position: center center;
 }