.background-container {
    background-image: url('../../public/assets/img/imgs-de-la-marca/HYD-43_00.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
}
